{% extends 'two-column-right-sidebar' %}

{% macro category(categories) %}
    {% for category in categories %}
        <li>
            <a href="{{ category.url }}">{{ category.categoryName }}</a>
            {% if category.subCategories %}
                <ul>
                    {% import _self as macros %}
                    {{ macros.category(category.subCategories) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block banner %}
    {% set title = "Blog Categories" %}
    {% set titleHeading = true %}
    {% set subtitle = header %}
    {% include("content-layouts/text-banner") %}
{% endblock %}

{% block main %}
    {% if categories|length > 0 %}
        <ul>
            {% import _self as macros %}
            {{ macros.category(categories) }}
        </ul>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="Sidebar">
        {{ _api.blog.categoryFilter.template('api-category-filter') }}
        {{ _api.blog.tagFilter.template('api-tag-filter') }}
        {{ _api.blog.recentPosts.template('api-recent-posts') }}
        {{ _api.blog.recentComments.template('api-recent-comments') }}
        {{ _api.blog.postArchive.template('api-post-archive') }}
    </div>
{% endblock %}
