<footer class="Footer">
    <div class="Container Container--pad">
        {% if _core.theme.settings.footerShowNavigation == 'yes' %}
            {{ _api.navigation.get.key('main').showSubNav('no').template('footer') }}
        {% endif %}
        {% if _core.theme.settings.footerShowAddress == 'yes' or _core.theme.settings.footerShowPhone == 'yes' or _core.theme.settings.footerShowEmail == 'yes' %}
            <div class="Footer-contact">
                {% if _core.theme.settings.footerShowAddress == 'yes' %}
                    {% if _core.settings.companyAddressStreet %}
                        {{ _core.settings.companyAddressStreet }} /
                    {% endif %}
                    {% if _core.settings.companyAddressCity %}
                        {{ _core.settings.companyAddressCity }}{% if _core.settings.companyAddressState %}, {% endif %}
                    {% endif %}
                    {% if _core.settings.companyAddressState %}
                        {{ _core.settings.companyAddressState }} 
                    {% endif %}
                    {% if _core.settings.companyAddressPostalCode %}
                        {{ _core.settings.companyAddressPostalCode }}
                    {% endif %}
                {% endif %}
                {% if _core.theme.settings.footerShowPhone == 'yes' and _core.settings.companyPhone|length > 0 %}
                    {% if _core.theme.settings.footerShowAddress == 'yes' %}
                        /
                    {% endif %}
                    <a href="tel:{{ _core.settings.companyPhone|replace({'(': '', '}': '', '-': '', ' ': ''}) }}" aria-label="Call {{ _core.settings.companyPhone }}">{{ _core.settings.companyPhone }}</a>
                {% endif %}
                {% if _core.theme.settings.footerShowEmail == 'yes' and _core.settings.companyEmail|length > 0 %}
                    {% if _core.theme.settings.footerShowAddress == 'yes' or _core.theme.settings.footerShowPhone == 'yes' %}
                        /
                    {% endif %}
                    <a href="mailto:{{ _core.settings.companyEmail }}" title="Email {{ _core.settings.companyEmail }}" class="u-linkSubtle">{{ _core.settings.companyEmail }}</a>
                {% endif %}
            </div>
        {% endif %}
        &copy; {{ _core.date.year }} {{ _core.settings.companyName }}
    </div>
</footer>

{{ _page.js() }}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ['Open+Sans:300,400,400i,700,700i', 'Asap+Condensed:600']
        }
    });
</script>
{{ _page.bodyEndCode() }}
</body>
</html>
