
{% extends "one-column.twig" %}

{% block main %}
    <div class="Container Container--narrow">
        <h1>Search Results</h1>
        {% if pagination.totalItemCount > 0 %}
            {# SHOW THE TOTAL NUMBER OF RESULTS #}
            <p>{{ pagination.firstItemNumber }} - {{ pagination.lastItemNumber }} of {{ pagination.totalItemCount }}
                {% if pagination.totalItemCount > 1 %}
                    results
                {% else %}
                    result
                {% endif %}
                for "{{ searchTerm }}".
            </p>

            {# SHOW THE SEARCH RESULTS #}
            {% for event in events %}
                <div class="h2"><a href="{{ event.url }}">{{ event.title }}</a></div>
                {% if event.isMultiDay %}
                    <div class="flex align-center g-1">
                        {{ macros.iconImg('calendar', 'Date') }}
                        <div>{{ event.startDate }} to {{ event.endDate }}</div>
                    </div>
                {% else %}
                    <div class="flex align-center g-1">
                        {{ macros.iconImg('calendar', 'Date', 'CalendarGrid-headingIcon') }}
                        <div>{{ event.date }}</div>
                    </div>
                {% endif %}
                {% if event.time.type != 'notime' %}
                    <div class="flex align-center g-1">
                        {{ macros.iconImg('clock', 'Time', 'CalendarGrid-headingIcon') }}
                        <div>
                            {% if event.time.type == 'timed' %}
                                {{ event.time.start }} to {{ event.time.end }}
                            {% elseif event.time.type == 'start' %}
                                {{ event.time.start }}
                            {% elseif event.time.type == 'allday' %}
                                All Day
                            {% elseif event.time.type == 'tba' %}
                                TBA
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if event.shortDescription %}
                    <div class="mt-1">{{ event.shortDescription }}</div>
                {% endif %}
            {% endfor %}

            {# PAGINATION #}
            {% include 'snippets/pagination' %}
        {% else %}
            {# NO MATCHING RESULTS #}
            <p>There were no events for "{{ searchTerm }}".</p>
        {% endif %}

        {# SHOW THE SEARCH FORM TO SEARCH AGAIN #}
        <h2>Search Again</h2>
        {{ form.openTag }}
        <div class="grid g-2-lg mb-2 nc-1 nc-3-lg">
            <div class="col-1-1 col-1-4-lg text-end-lg">
                {% set form.fields.term.label.text = 'Search Term' %}
                {% set form.fields.term.label.class = form.fields.term.label.class ~ ' FormLabel' %}
                {{ form.fields.term.label.tag }}
            </div>
            {% set form.fields.term.class = 'TextInput' %}
            {% set form.fields.term.placeholder = 'Search...' %}
            <div class="col-1-1 col-1-2-lg">
                {{ form.fields.term.tag }}
            </div>
            <div class="col-1-1 col-1-4-lg">
                <button type="submit" class="Button">Search</button>
            </div>
        </div>
        {{ form.closeTag }}
    </div>
{% endblock %}
