{% if images %}
    {# Set the column classes based on the number of columns #}
    {% set count = numberOfColumns == 'Auto' ? images|length : numberOfColumns %}

    {% if count == '2' %}
        {% set class = 'u-size1of2 u-sm-sizeFull u-sm-margBottom2' %}
    {% elseif count == '3' %}
        {% set class = 'u-size1of3 u-md-sizeFull u-md-margBottom2' %}
    {% elseif count == '4' %}
        {% set class = 'u-size1of4 u-md-size1of2 u-sm-sizeFull u-md-margBottom2' %}
    {% elseif count > 4 %}
        {% set class = 'u-size1of4 u-md-size1of2 u-sm-sizeFull u-md-margBottom2' %}
    {% else %}
        {% set class = 'Grid-cell--center u-sm-sizeFull u-margBottom2' %}
    {% endif %}

    {# Set the title text position class #}
    {% set titleClass = 'ImageGrid-title--center' %}
    {% if displayText == 'Above Image' %}
        {% set titleClass = 'ImageGrid-title--above' %}
    {% elseif displayText == 'Centered on Image' %}
        {% set titleClass = 'ImageGrid-title--center' %}
    {% elseif displayText == 'On Bottom of Image' %}
        {% set titleClass = 'ImageGrid-title--bottom' %}
    {% elseif displayText == 'Below Image' %}
        {% set titleClass = 'ImageGrid-title--below' %}
    {% endif %}
    <div class="Grid Grid--withGutter Grid--equalHeight Grid--alignCenter ImageGrid">
        {% for column in images %}
            {% if column.image %}
                {% if column.image.alt|length == 0 %}
                    {% set column.image.alt = column.title %}
                {% endif %}
                {% set column.image.class = 'ImageGrid-image' %}
            {% endif %}
            <div class="Grid-cell {{ class }} ImageGrid-col">
                {% if column.link %}
                    <a href="{{ column.link }}" class="ImageGrid-item ImageGrid-link ImageGrid-hover">
                {% else %}
                    <div class="ImageGrid-item ImageGrid-hover">
                {% endif %}
                {% if column.title and displayText != 'Below Image'%}<div class="ImageGrid-title {{ titleClass }}">{{ column.title }}</div>{% endif %}
                {{ column.image.tag }}
                {% if column.title and displayText == 'Below Image'%}<div class="ImageGrid-title {{ titleClass }}">{{ column.title }}</div>{% endif %}
                {% if column.content %}
                    <div class="ImageGrid-content">
                        <div class="ImageGrid-contentInner">
                            {% if column.title %}
                                <div class="ImageGrid-contentHeading">{{ column.title }}</div>
                            {% endif %}
                            <div class="ImageGrid-contentWrap">{{ column.content }}</div>
                        </div>
                    </div>
                {% endif %}
                {% if column.link %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
